@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@1,900&family=Space+Grotesk&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray: #ad9e9e;
    --color-sand: #db9e35;
    font-size: calc(.7vw + .6vh);
}

html, body {
    font-family: 'Inter', sans-serif;
    color: var(--color-white);
    background-color: var(--color-black);
}

h1{
    font-size: 5rem;
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 500;
}

h3{
    font-size: 3rem;
}

h4{
    font-size: 1.8rem;
    display: flex;
    color: var(--color-sand);
    font-weight: normal;
}


.sub-title{
    justify-content: center;
    align-items: center;
}

button {
    font-family: 'Inter', sans-serif;
    border: none;
    color: var(--color-white);
    outline: none;
    background: none;
    text-decoration: none;
    /*ниже по горизонтали по вертикали и размер размытия */
    box-shadow: 0 0 2rem rgba(33, 203, 237, 0.8);
    border-radius: 1rem;
    padding: 0.5rem;
}

.sub-title>*:not(:last-child)::after {
    content: '';
    width: 0.2rem; /* Регулируйте размер и стилизацию вашего псевдоэлемента */
    height: 1.2rem;
    background-color: var(--color-sand); /* Цвет и стили вашего псевдоэлемента */
    display: inline-block;
    margin-left: 0.5rem; /* Расстояние между элементами */
    margin-right: 0.5rem; /* Расстояние между элементами */
}

.wrapper{
    height: 100svh;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

main{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 8rem;
    flex-direction: column;
}

.tg-blue{
    width: 100%;
    transform: scale(0.7); /* уменьшили картинку внутри круга */
}

.img-telegram{
    display: flex;
    background-color: #2AABEE;
    border-radius: 50%;
    width: 5rem;
}

.button-telegram{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 1rem;
}


.laptop{
    display: flex;
    flex-direction: column;
}

.laptop__div{
    display: flex;
    width: 45rem;
}

.laptop__img{
    width: 100%;
}

.reviews{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews > *:not(:first-child):not(:last-child) {
    margin-bottom: 2rem;
}

.laptop{
    position: relative;
}

.laptop video {
    position: absolute;
    /* центрируем видео */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    /* центрируем видео */
    width: 80%;
    height: 80%;
    /* object-fit: cover; */
    z-index: 100;
    object-fit: cover;
}

.swiper {
    width: 45rem;
    height: 15rem;
    box-shadow: 0 0 2rem rgba(240, 252, 255, 0.8);
    border-radius: 1rem;
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--color-gray); /* Change to the color you want */
}

.swiper-pagination-bullet {
    background-color: var(--color-gray); /* Change to the color you want */
}

/* Установка размера стрелок */
.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 4rem; /* Размер стрелок */
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
}

.main_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

@media screen and (min-width: 768px) {
    .laptop__div{
        width: 35rem;
    }

    .swiper {
        width: 30rem;
        height: 10rem;
    }

    main{
        flex-wrap: wrap;
        flex-direction: row;
        gap: 2rem;
    }
}